* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, #87CEFA, #E6E6FA); /* Blue to Lavender */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}


.container {
    width: 40%;
    padding: 15px;
    background-color: #ffffff;
    border: 4px solid #FF6F61;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.title-section h1 {
    color: #374785;
    font-size: 28px;
    font-weight: bold;
}

.title-section h4 {
    color: #ff9a8b;
    font-size: 14px;
}

hr {
    border: 2px solid #FF6F61;
    width: 100%;
    margin: 8px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    padding-left: 20px;
}

.day-button {
    background: #374785;
    color: #ffffff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-button:hover {
    background: #ff9a8b;
    transform: scale(1.1);
}
